.section-img{
    align-items: center;
    display: flex;
    justify-content: center;
   width: 90%;
  
   position: relative;
    text-align: center;
    filter:blur(1px);
   
}
.section {
    position: relative;
  }
  
 
  .section-img img {
    display: block;
   
    max-width: 100%;
    height: 50%;
    width: 90%;
  }
  
  .section-text {
    border: 2px solid ;
    border-radius: 50px;
    position: absolute;
    top: 350px;
    left: 650px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(243, 243, 243); 
    font-size: 20px;
    width: 40%;
    font: bold;
    background-color: rgba(25, 27, 32, 0.486);
    
  }
  .section-text p{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    line-height: 30px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: stretch; 
    gap: 20px; 
    margin-top: 20px;
}

.card {
    width: calc(33.33% - 20px);
}

.card-img{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-text{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  line-height: 30px;
}
.card-text h3{
  color: rgb(7, 20, 59);
  font-size: 20px;
  cursor: pointer;
}
.atik{
  display: flex;
  align-items: center;
  justify-content: center;
}
.atik h1{
  color: rgb(7, 20, 59);
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 150px;
}
.secAtik{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 380px;
 
}
  