.footer-container{
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
   
    
}
.footer-icon{
    display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 15px;

}
.footer-icon a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 35px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
   
}
.footer-icon a:hover{
    background-color: rgb(136, 153, 156);
}
.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: relative;
    top: -210px;
}
.footer-id{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: relative;
    top: -210px;
}
.footer-images{
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 15px;
    position: relative;
    bottom: 330px;
    flex-direction: column;
    
}
.footer-img{
    margin-bottom: 8px;
}